.wrapper {
 width: 100%;
max-width: 390px;
margin: 0 auto;
position: relative;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body, html {
  max-width: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; 
  height: 100vh;
  width: 100vw;
}

.background {
position: absolute;
width: 100%;
height: 154%;
background-image: url('foto/sore.jpeg');

background-size: cover;
background-position: center;
z-index: -1;
top: 0;
left: 0;
}

.weather-card-sunset {
max-width: 100%;
height: 75vh;
margin: 0 auto;
padding: 20px 10px;
display: flex;
flex-direction: column;
gap: 20px;
color: white;
position: relative;
}

.kota, .negara {
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
line-height: 38px;
text-align: center;
color: #FFFFFF;
}

.kota {
position: relative;
top: 50px;
  font-size: 25px;
}

.negara {
position: relative;
top: 10px;
font-size: 12px;
}

.awan {
position: relative;
top: 0px;
width: 70px;
height: 70px;
margin: 0 auto;
}

.suhu {
position: relative;
top: -40px;
font-family: 'Poppins';
font-style: normal;
font-size: 64px;
line-height: 96px;
text-align: center;
font-weight: 400;
color: #FFFFFF;
}

.celcius {
position: relative;
top: -127px;
left: 44px;
margin-top: -10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}

.kondisi, .jam {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
}
.kondisi{
position: relative;
top: -110px;
}
.jam{
position: relative;
top: -130px;
}

.box-container1, .box-container2, .box-container3 {
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
padding: 12px;
}
.box-container{
position: absolute;
width: 334px;
height: 150px;
left: 28px;
top: 335px;

background: rgba(217, 217, 217, 0.3);
border-radius: 20px;
}
.box-container1{
position: absolute;
width: 164px;
height: 158px;
left: 29px;
top: 673px;
background: rgba(217, 217, 217, 0.3);
border-radius: 20px;
}
.box-container2{
position: absolute;
width: 164px;
height: 157px;
left: 199px;
top: 674px;
background: rgba(217, 217, 217, 0.3);
border-radius: 20px;
}
.box-container3{
position: relative;
width: 334px;
height: 50px;
left: 19px;
top: -151px;

background: rgba(217, 217, 217, 0.3);
border-radius: 20px;
}
.background2{
position: relative;
width: 334px;
height: 161px;
left: 18px;
top: 14px;
background: rgba(217, 217, 217, 0.3);
border-radius: 20px;
}
.judul, .judul1, .judul2, .judul3, .judul4,
.subjudul, .subjudul1, .subjudul2, .subjudul3 {
position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}
.judul{
position: relative;
width: 95px;
height: 18px;
left: 138px;
top: -105px;
}
.judul1{position: relative;width: 95px;height: 18px;left: 138px;top: -146px;}
.judul2{width: 104px;height: 18px;left: -153px;top: 0px;}
.judul3{width: 55px;height: 19px;left: 53px;top: -206px;font-weight: 600;font-size: 14px;line-height: 21px;}
.judul4{width: 55px;height: 19px;left: 77px;top: -285px;font-weight: 600;font-size: 14px;line-height: 21px;}

.subjudul{width: 99px;height: 18px;left: 59px;top: -141px;}
.subjudul1{width: 104px;height: 18px;left: -190px;top: 4px;font-size: 11px;}
.subjudul2{width: 104px;height: 18px;left: -191px;top: 0px;font-size: 11px;}
.subjudul3{width: 203px;height: 19px;left: 111px;top: -335px;font-size: 12px;line-height: 18px;}

.jam1{
position: relative;
width: 15px;
height: 15px;
top: -162px;
left: 39px;
}

.kalender{
position: relative;
width: 15px;
height: 15px;
top: 32px;
left: 20px;
}
.b{
position: relative;
width: 99px;
height: 18px;
left: 56px;
top: -96px;
    
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}
.a,.a1,.a2{
position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}
.a{
width: 99px;
height: 18px;
left: 41px;
top: 40px;
}
.a1{
width: 99px;
height: 18px;
left: 38px;
top: 5px;
}
.a2{
width: 87px;
height: 18px;
left: 40px;
top: -32px;
}

.awan1{
position: relative;
width: 15px;
height: 15px;
left: 20px;
top: 18px;
}
.awan2{
position: relative;
width: 15px;
height: 15px;
left: 20px;
top: -18px;
}
.awan3{
position: relative;
width: 15px;
height: 15px;
left: 20px;
top: -55px;

}
.c,.c1,.c2{
position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
}
.c{
width: 108px;
height: 18px;
left: 227px;
top: -2px;
}
.c1{
width: 108px;
height: 18px;
left: 227px;
top: -37px;
}
.c2{
width: 108px;
height: 18px;
left: 227px;
top: -74px;
}

p,.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,
.p10,.p11,.p12,.p13,.p14,.p15,.p16,
.p17,.p18,.p19,.h2,.h1 {
position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #FFFFFF;

  color: white;
}

.p1{width: 108px;height: 18px;left: 15px;top: -166px;}
.p2{width: 108px;height: 18px;left: 93px;top: -231px;}
.p3{width: 108px;height: 18px;left: 171px;top: -296px;}
.p4{width: 108px;height: 18px;left: 250px;top: -361px;}

.p5{width: 104px;height: 18px;left: 191px;}
.p6{width: 104px;height: 18px;left: 156px;top: 13px;}
.p7{width: 104px;height: 18px;left: 248px;top: -3px;}
.p8{width: 104px;height: 18px;left: 159px;top: -4px;}
.p9{width: 104px;height: 18px;left: 244px;top: -21px;}
.p10{width: 104px;height: 18px;left: 158px;top: -20px;}
.p11{width: 104px;height: 18px;left: 244px;top: -37px;}
.p12{width: 104px;height: 18px;left: 158px;top: -37px;}
.p13{width: 64px;height: 18px;left: 251px;top: -55px;}
.p14{width: 21px;height: 11px;left: 296px;top: -71px;font-size: 7px;}
.p15{width: 104px;height: 18px;left: 162px;top: -66px;}
.p16{width: 64px;height: 18px;left: 267px;top: -84px;}
.p17{width: 104px;height: 18px;left: -188px;top: 0px;font-size: 10px;font-weight: 400;}
.p18{width: 46px;height: 6px;left: -160px;top: 0px;font-weight: 400;font-size: 10px;}
.p19{width: 103px;height: 14px; left: 99px;top: -300px;font-weight: 400;font-size: 7px;line-height: 10px;}

.box-container, .background2 {
  margin-bottom: 10px;
}

.cloud{
position: relative;
width: 25px;
height: 25px;
    left: 55px;
    top: -134px;
}

.cloud1{
position: relative;
width: 25px;
height: 25px;
left: 134px;
top: -199px;
}
.cloud2{
position: relative;
width: 25px;
height: 25px;
left: 212px;
top: -264px;
}
.cloud3{
position: relative;
width: 25px;
height: 25px;
left: 291px;
top: -329px;
}

.arah,.arah1,.arah2,.arah3{
position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
}
.arah{width: 46px;height: 8px;left: 45px;top: -140px;}
.arah1{width: 46px;height: 8px;left: 125px;top: -205px;}
.arah2{width: 46px;height: 8px;left: 205px;top: -270px;}
.arah3{width: 46px;height: 8px;left: 281px;top: -335px;}

.masa,.masa1,.masa2,.masa3{
position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
}
.masa{width: 54px;height: 8px;left: 41px;top: -133px;}
.masa1{width: 54px;height: 8px;left: 120px;top: -197px;}
.masa2{width: 54px;height: 8px;left: 200px;top: -262px;}
.masa3{width: 54px;height: 8px;left: 277px;top: -327px;}

.link {
  font-size: 10px;
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #fff;
  text-decoration: underline;
}

.daun {
  position: relative;
  width: 20px;height: 20px;left: 40px;top: -246px;
  display: inline-block;
  vertical-align: middle;
}
.link{
position: relative;
width: 103px;
height: 14px;
left: 169px;
top: -344px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 12px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}

@media (max-width: 420px) {
  .weather-card-sunset {
    padding: 20px;
  }
}